[submodule "external/unity"]
	path = external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/stm32"]
	path = external/stm32
	url = https://github.com/STMicroelectronics/STM32CubeC0.git
